.mainheading{
    text-align: center;
    color: white;
    font-family: "Lucida Sans";
    background-color: #ff9966;
    height: 20px;
    margin: -20px;
    padding: 60px;
    overflow: auto;
}

a:link, a:visited {
    padding: 20px 20px;
    color: grey;
    text-align: center;
    font-family: "Lucida Sans";
    text-decoration: none;
    border: 3px solid grey;
    display: block;
    margin-top: 20px;
    float: center;
}