.mainheading{
    text-align: center;
    color: white;
    font-family: "Lucida Sans";
    background-color: #ff9966;
    height: 20px;
    margin: -20px;
    padding: 60px;
    overflow: auto;
}

a:link, a:visited {
    padding: 20px 20px;
    color: grey;
    text-align: center;
    font-family: "Lucida Sans";
    text-decoration: none;
    border: 3px solid grey;
    display: inline-block;
    margin-top: 30px;
    float: center;
}

a:hover, a:active {
    padding: 20px 20px;
    color: grey;
    text-align: center;
    font-family: "Lucida Sans";
    text-decoration: none;
    border: 3px solid grey;
    display: inline-block;
    margin-top: 30px;
    float: center;
}

.headerstyling,.headerstyling:hover{
    color:#000!important;
    background-color:#ff9800!important

}

h1{
    color: white;
}