#section1{
    background-color: rgb(0, 0, 0);
}

#section2{
    background-color: rgb(107, 32, 2);
}

#section3{
    background-color: rgb(255, 118, 63);
}

.section{
    text-align:  center;
    color: white;
    font-family: "Lucida Sans"
}